/* 
    General Styles
*/
/*@media (min-width: 0px) and (max-width: 500px) {
    .NBLinks {
        display: none;
    }
    .Hamburger {
        display: flex;
        flex-direction: column;
        background-color: transparent;
        color: black;
        float: right;
    }


 }
 @media (min-width: 500px) {
    .Hamburger {
        display: none;
    }

 }
*/
.history-entry{
    width:500px;
    height: 50px;
    border: 2px solid greenyellow;
    border-radius: 20px;
    box-shadow: 3px 3px 8px lightgray;
    margin: 20px auto;
    color: darkgrey;
    
}
.history-entry:hover{
    background-color: greenyellow;
    color: darkgreen;
    box-shadow: 3px 3px 3px gray;
}
body {
    background-color: lightgray;
}

.nav-button{
    color: royalblue;
    font-size:0.9em;
    margin: 0 5px;
}
.nav-button:hover{
    color: royalblue;
    text-shadow: 2px 2px 2px gray;
    font-size:1em;
    margin: 0 5px;
}
.backdrop {
    background-image: linear-gradient(-90deg, pink, lightblue);
}
.bullets {
    transform:scale(1, 1);
    transition: 1s;
        margin: .5em;

    &:hover {
        transform:scale(1.5, 1.5);
    }
} 